header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid black;

  }

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: mediumAquamarine;
}

.main_container {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.box {
  display: block;
  border: 1px solid black;
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}

.col .large {
  align-content: stretch;
  width: 630px;
}

.col.medium {
  align-content: stretch;
  width: 300px;
}

.col.small {
  align-content: stretch;
  width: 240px;
}
