header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: inline-block;;
}

h1 {
  color: MediumAquamarine;
}

.logo {
  display:  inline-flex;
  color: MediumAquamarine;
}
